.calculator {
  .calculator-desktop {
    display: block;
    padding: 20px;
  }
  .calculator-mobile {
    display: none;
  }
  line-height: normal;
  background: #ffffff;
  text-align: center;
  h3.title {
    padding: 10px 20px;
    color: $dark;
  }
  button {
    margin: 0 auto;
    width: 100%;
  }
  .calculator-desktop,
  h3.title {
    padding-bottom: 30px;
  }
  p.exit {
    padding-top: 20px;
    color: $dim-mid;
    &:hover {
      color: $gray;
      cursor: pointer;
    }
  }
}

@media all and (max-width: $tablet-breakpoint) {
  .calculator {
    .calculator-desktop {
      display: none;
    }
    .calculator-mobile {
      display: block;
      background: $green;
      background: linear-gradient(
                      90deg,
                      rgb(44, 119, 78) 0%,
                      rgba(12, 153, 80, 1) 15%,
                      rgb(0, 232, 127) 50%,
                      rgba(12, 153, 80, 1) 85%,
                      rgb(44, 119, 78) 100%
      );
      .footer-mobile-calculator {
        padding: 20px;
        > button {
          width: 100%;
        }
      }
    }
  }
}
