.slider-desktop {
  padding-top: 20px;
  .rc-slider {
    .rc-slider-handle {
      background: $green-gradient;
      border: 1px solid darken($green, 2);
      border-radius: 6px;
      width: 30px;
      height: 30px;
      margin-top: -14px;
    }
    .rc-slider-track {
      background-color: $green;
    }
    .rc-slider-step {
      &:hover {
        cursor: pointer;
      }
    }
    .rc-slider-rail {
      border: 1px solid darken($light-dim, 3);
      background-color: $light-dim;
    }
  }
  .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    h5.title {
      font-size: 12px;
      color: $gray;
    }
    h3.value  {
      line-height: .8;
      font-weight: 700;
      font-size: 20px;
      color: $green;
      margin-bottom: -2px;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    p.min, p.max {
      font-size: 12px;
      color: $gray;
    }
  }
}
