// colors
$green: #10c567;
$red: #ff4346;
$dark: #454545;
$dark-opacity: rgba(0, 0, 0, .3);
$light-dim: #ebebeb;
$dim: #d8d8d8;
$light: #f2f2f2;
$super-light: #fdfdfd;
$dim-mid: #c0c0c0;
$gray: #8a8a8a;
$yellow: #ffe818;

// gradients
$green-gradient: linear-gradient(0deg, #10C567 0.5%, #18D975 100%);

// breakpoints
$wrap-breakpoint: 1280px;
$tablet-breakpoint: 760px;
$mobile-breakpoint: 420px;
